* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    line-height: 50px;

}

#logo a img {
    width: 40px;
    height: 45px;
    padding: 8px 16px 8px 16px;
}

nav a {
    padding: 16px 16px 16px 16px;
    font-size: 35px;
    width: 70.510;
    height: 40px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(29, 177, 93);
    /* height: inherit; */
}

nav a img {
    height: 10px;
    padding-bottom: 5px;

}

#search input {
    margin-bottom: 10px;
    padding: 5px 40px 5px 15px;
    height: 30px;
    border-radius: 25px;
}

#search img {
    height: 25px;
    margin: 20px;

}

#theme img {

    height: 25px;
    width: 25px;
    padding-top: 17px;
    margin-left: 10px;
}

#goal a img {
    height: 25px;
    padding: 10px;
    padding-left: 200px;
}
#goal a{
    font-size: 20px;
    text-decoration: none;
    padding-top: 5px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    line-height: 48px;
}
section {
    width: 100%;
    height: 628px;
    background-image: url(background_in_space.gif);
}